

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin animation($animate){
  -webkit-animation:$animate;
  -moz-animation:$animate;
  animation: $animate;
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}


@keyframes panelFadeIn {
   0%   { @include alpha-attribute('background-color', rgba(41, 139, 204, 0), white); }
   100% { @include alpha-attribute('background-color', rgba(41, 139, 204, .9), white); }

}

@keyframes dropDown {
  0% {
    margin-top:-100px;
  }
  80% {
    margin-top:-50px;
  }
  100% {
    margin-top:0;
  }

}

