@import "assets";
@import "animate";

html, body {
  background: url(../assets/photos/bk_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/photos/bk_bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/photos/bk_bg.jpg', sizingMethod='scale')";
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  &__nav{
    @include animation('dropDown 2s');
    margin-top:-100px;
    animation: dropDown 2s;
    margin-top:0px;
  }
}
.main {
  h1 {
    font-size:30px;
  }
  h2 {
    font-size:26px;
  }
}

.fed {
  -vendor-animation-delay: 12s;
}

cite {
  color:#de2b0f;
}



