<nav class="header__navs animated fadeInDownBig" ng-controller="NavbarCtrl">
  <section class="icon-bar five-up">
    <a class="item" ng-href="#">
      <i class="fa fa-home"></i>
      <label>Home</label>
    </a>
    <a class="item" href="http://www.github.com/Gr8fulJoe5" target="_blank">
      <i class="fa fa-github fa-5"></i>
      <label>Github</label>
    </a>
    <a class="item" hreg="http://www.twitter.com/joekanakaraj" target="_blank">
      <i class="fa fa-twitter fa-5"></i>
      <label>Twitter</label>
    </a>
    <a class="item" href="http://www.facebook.com/joe.kanakaraj" target="_blank">
      <i class="fa fa-facebook fa-5"></i>
      <label>Facebook</label>
    </a>
    <a class="item" href="https://plus.google.com/+JosephKanakaraj/" target="_blank">
      <i class="fa fa-google fa-5"></i>
      <label>Google +</label>
    </a>
   </section>
</nav>
